 
.menu_block  {
	position: relative;
	position: absolute;
	background-color: #ec0606;
	z-index: 999;
	min-width: 211px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding-left: 17px;
	padding-bottom: 20px;
}

nav>.sf-menu {
	float: right;
	min-width: 95px;
	padding-top: 22px;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	float: none;
	position: relative;

}

.sf-menu>li+li {
	margin-top: 11px;
}


.sf-menu>li>a{
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Dosis', sans-serif;
	color: #fff;
	position: relative;
	line-height: 16px;
	z-index: 999;
	position: relative;
}


.sf-menu>li.sfHover>a, .sf-menu>li.current>a, .sf-menu>li:hover>a:hover {
	color: #000;
}



/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul{
	top:-28px;
	left: 114px;

	width: 141px;
	z-index: 999; 
	padding-top: 28px;
	padding-bottom: 23px;
	background-color: #ffffff;
}


.sf-menu li ul li{
	padding-left: 18px;
	float: none !important; 
	margin-bottom: 3px;


}




.sf-menu li ul li a{
	text-transform: uppercase;
	font: 16px/16px 'Dosis', sans-serif;
;
	position: relative;
	color: #000;

}

.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a {  
	color: #ec0606;

}

